# Miscellaneous
*.class
*.log
*.lock
*.jks
*.key
*.keystore
node_modules/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/gradlew.bat
android/modules.xml
android/app/libs/
android/app/src/main/assets/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/

# Xcode
ios/build/
ios/Pods/
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcworkspace/xcuserdata
ios/*.pbxproj
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.bbedit
ios/**/*.perspectivev3
ios/**/*.xcscmblueprint

# macOS
macos/Flutter/ephemeral/
macos/build/
macos/Pods/
*.DS_Store

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
build/
web/

# Explicitly ignore node_modules
**/node_modules/
